/* Hero */
/***************************/

.hero {
	background: #f1f1f1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 520px;
}
.new-book {
	float: right;
	margin: 35px 60px 30px 0;
	.ribbon {
		display: inline-block;
		background: #00b3d6;
		color: white;
		opacity: .7;
		padding: 20px 10px 20px 30px;
		font-size: 2.5em;
		position: fixed;
		margin-top: 20px;
		margin-left: -10px;
		.ribbon-content:before {
			left: 0;
			border-width: 1em 0 0 1em;
		}
	}
}
.book-formats {
	margin: 15px 0 0 30px;
	a, .inactive {
		text-indent: -99999px;
		display: block;
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 10px;
		background: url("../img/book-formats.png") no-repeat; }
	a.cu-press { background-position: 0 -40px; }
	a.cu-press:hover { background-position: 0 -80px; }
	a.amazon { background-position: -40px -40px; }
	a.amazon:hover { background-position: -40px -80px; }
	a.google-books { background-position: -80px -40px; }
	a.google-books:hover { background-position: -80px -80px; }
	.cu-press-inactive { background-position: 0 0; }
	.amazon-inactive { background-position: -40px 0; }
	.google-books-inactive { background-position: -80px 0; }
}

/* Featured content */
/***************************/

.feature {
	h3 {
		// background: #595959;
		// color: white;
		// width: 70%;
		// padding: 5px 10px;
		font-size: 1.625em;
		margin-bottom: 1em; }
}
.news-item {
	p {
		font-size: 1.125em;
		color: #486570; }
}
.editor-primary {
	overflow: hidden;
	img {
		float: left;
		margin: 0 15px 15px 0;
	}
	.series-editor {
		float: left; }
	h4 {
		color: #486570;
		margin: 1.5em 0 0 0;
		font-size: 1.375em; }
}
.editor-secondary {
	img {
		margin: 0 2px 2px 0;
		vertical-align: baseline;
	}
}

/* Carousel */
/***************************/
.carousel {
	min-height: 400px;
	background: url("../img/hr-bg.png") no-repeat bottom;
}