.navbar {
	.container { width: 1170px; } // bootstrap override to set fixed width
	.brand {
		margin: 25px 0 25px -20px;
		padding-top: 30px;
		float: none;
		font-size: 4.5em;
		color: $turquoise;
		font-family: 'MercuryRegular';
	}
	.brand:hover { color: $turquoiseHover; }
	.nav {
		margin-top: 50px;
		float: right;
		li {
			a {
				text-shadow: 0 0 0;
				color: #4d4e53; 
				// height: 41px;
				font-size: 1.25em;
				padding-left: 10px;
				padding-right: 10px;
				background: url("../img/nav-divider.png") no-repeat; }
			a:hover {
				color: $turquoise;
				background: url("../img/nav-divider.png") no-repeat; }
		}
		li:first-child {
			a { background-image: none; }
		}
		li.active {
			a, 
			a:hover {
				color: $turquoise;
				border-bottom: 5px solid $turquoise;
				background-color: inherit;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none; }
		}
	}
}