$cornellPrimary: #b31b1b; // cornell red
$cornellPrimaryHover: #990f26; // dark red
$cornellBar: #4D4E53; // gray
$cornellFont: verdana, sans-serif;

$primaryColor: #210d29; // dark purple
$headerColor: #3a114a; // purple
$highlightColor: #e6b91c; // yellow
$highlightColorHover: #c29700; // dark yellow

$textColorDark: #333;
$textColorLight: white;

$lightGray: #bebebe;
$mediumGray: #a2a1a1;

$linkPrimary: #18b9d2;

$turquoise: #18b9d2;
$turquoiseHover: #0099b2;

// Fonts
// -------------------------
$baseFontFamily: 'museo300';
// $baseFontFamily:        'Cardo', serif;        @import
// url(http://fonts.googleapis.com/css?family=Cardo:400,700,400italic);
// $headerFontFamily: 'MercuryBold';
// $headerFontFamily:        'Allura', cursive;        @import
// url(http://fonts.googleapis.com/css?family=Allura);

// -------------------
// Boostrap overrides
// -------------------

// Wells
// -------------------------
$wellBackground: $primaryColor;


