/*
Syntax error: Invalid CSS after "	.hero aside": expected "{", was "}"
        on line 125 of content/_responsive-hero.scss
        from line 17 of content/_responsive.scss
        from line 16 of content.scss

120: 	}
121: 	
122: 	p 
123: 	
124: 	.hero aside 
125: }

Backtrace:
content/_responsive-hero.scss:125
content/_responsive.scss:17
content.scss:16
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:534:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:349:in `media_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:175:in `special_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:147:in `directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:553:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:27:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	.hero aside\": expected \"{\", was \"}\"\A         on line 125 of content/_responsive-hero.scss\A         from line 17 of content/_responsive.scss\A         from line 16 of content.scss\A \A 120: 	}\A 121: 	\A 122: 	p \A 123: 	\A 124: 	.hero aside \A 125: }"; }
