@import 'bootstrap';
@import 'bootstrap-responsive';

// Override necessary Bootstrap variables
@import 'content/variables';

// Load partials
@import 'content/base';
@import 'content/navigation';
@import 'content/layout';
@import 'content/home';
@import 'content/miscellaneous';
@import 'content/responsive';