/* 
 * The modules directory is reserved for Sass code that doesn’t 
 *cause Sass to actually output CSS. Things like mixin 
 *declarations, functions, and variables.
 */
/* 
 * Opacity
 */
/* 
* Panel tools states
*/
/*
 * 
 */
body {
  width: 100%;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  font-size: 100%;
  height: 100%; }

.page.panels {
  /*
   *
   */
  	/*header {
  		
  		nav {
  		
  			ul {
  				height: 45px;
  				background-color: $gray;
  				list-style-type: none;
  				margin-left: 0;
  				margin-bottom: 0;
  			
  				li {
  					float: left;
  					height: 45px;
  					line-height: 45px;
  					background-color: $gray;
  					overflow: hidden;
  					
  					&.search-panels {
  						
  						float: right;
  						
  						a {
  							
  							padding: 0;
  							
  							&:hover {
  								background-color: transparent;
  								@include opacity(.5);
  							}
  							
  							.search-panels-icon {
  								background-image: url($pathSprites);
  								background-position: 0 0;
  								width: 28px;
  								height: 26px;
  								display: inline-block;
  								margin-top: 9px;
  								margin-right: 5px;
  							}
  						}	
  					}
  
          			a {
          				display: inline-block;
          				padding-left: 24px;
          				padding-right: 24px;
          				text-decoration: none;
          				color: $white;
  								font-size: 1.375em;
  
          				&.active {
          					background-color: $blue;
          					border-bottom: 3px solid $blueLight;
          					color: $white;
          				}
  
          				&:hover {
          					background-color: $blue;
          					border-bottom: 3px solid $blueLight;
          					color: $white;
          				}
          			}
  				}
  			}
  		}
  	}*/ }
  .page.panels header {
    height: 45px;
    position: relative;
    /* first level */
    /* second level */ }
    .page.panels header #nav {
      width: 60em;
      /* 1000 */
      width: 100%;
      /* 1000 */
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0;
      /* 30 480 */
      z-index: 99999;
      height: 45px;
      background-color: #4d4e53;
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0; }
    .page.panels header #nav > a {
      display: none; }
    .page.panels header #nav li {
      position: relative; }
    .page.panels header #nav li a {
      color: #fff;
      display: block; }
    .page.panels header #nav li a:active {
      background-color: #cc0000 !important; }
    .page.panels header #nav span:after {
      width: 0;
      height: 0;
      border: 0.313em solid transparent;
      /* 5 */
      border-bottom: none;
      border-top-color: white;
      content: '';
      vertical-align: middle;
      display: inline-block;
      position: relative;
      right: -0.313em;
      /* 5 */ }
    .page.panels header #nav > ul {
      z-index: 99999;
      height: 45px;
      background-color: #4d4e53;
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0; }
    .page.panels header #nav > ul > li {
      float: left;
      height: 45px;
      line-height: 45px;
      background-color: #4d4e53; }
    .page.panels header #nav > ul > li > a {
      height: 100%;
      text-align: center;
      padding-left: 24px;
      padding-right: 24px;
      text-decoration: none;
      color: white;
      font-size: 1.375em; }
    .page.panels header #nav > ul > li > a.active {
      background-color: #1faac0;
      border-bottom: 3px solid #37c1d6;
      color: white; }
    .page.panels header #nav > ul > li:not(:last-child) > a {
      border-right: 1px solid #717175; }
    .page.panels header #nav > ul > li:hover > a,
    .page.panels header #nav > ul:not(:hover) > li.active > a {
      background-color: #1faac0;
      border-bottom: 3px solid #37c1d6;
      color: white; }
    .page.panels header #nav li ul {
      background-color: #1faac0;
      display: none;
      position: absolute;
      top: 100%;
      list-style-type: none;
      margin-left: 0; }
    .page.panels header #nav li:hover ul {
      display: block;
      left: 0;
      right: 0; }
    .page.panels header #nav li:not(:first-child):hover ul {
      left: -1px; }
    .page.panels header #nav li ul a {
      font-size: 1.25em;
      /* 20 */
      border-top: 1px solid #717175;
      padding: 0.75em;
      /* 15 (20) */ }
    .page.panels header #nav li ul li a:hover,
    .page.panels header #nav li ul:not(:hover) li.active a {
      background-color: #1faac0; }
    .page.panels header a.search-panels {
      z-index: 99999;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      padding: 0; }
      .page.panels header a.search-panels span:after {
        border-top-color: none;
        border: none; }
      .page.panels header a.search-panels:hover {
        background-color: transparent;
        filter: alpha(opacity=50);
        opacity: 0.5; }
      .page.panels header a.search-panels .search-panels-icon {
        background: url("../images/panels/search-icon.png") no-repeat 0 0;
        width: 28px;
        height: 26px;
        display: inline-block;
        margin-top: 9px;
        margin-right: 5px; }
      .page.panels header a.search-panels .search-panels-close-icon {
        background: url("../images/panels/hide-search-icon.png") no-repeat 0 0;
        width: 28px;
        height: 26px;
        display: inline-block;
        margin-top: 9px;
        margin-right: 5px; }
    .page.panels header #search-panels {
      z-index: 99999;
      display: block;
      position: absolute;
      top: 0;
      right: 45px;
      display: none; }
      .page.panels header #search-panels input[type="text"] {
        margin-top: 10px;
        border-radius: 0;
        height: 16px;
        background-color: #727375;
        border: 1px solid #a6a6a8;
        color: white; }
      .page.panels header #search-panels input[type="submit"] {
        color: white;
        background-color: #1faac0;
        font-family: "Abel", sans-serif;
        font-weight: normal;
        border-radius: 0;
        height: 26px;
        border: none;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px; }

.carousel-left-limit {
  height: 220px;
  width: 80px;
  background-color: white;
  position: absolute;
  top: 45px;
  left: 0; }

.carousel-right-limit {
  height: 220px;
  width: 80px;
  background-color: white;
  position: absolute;
  top: 45px;
  right: 0; }

.rs-carousel ul {
  height: 205px;
  list-style-type: none;
  padding-top: 15px;
  margin-left: 0;
  margin-right: 0; }
  .rs-carousel ul li {
    margin-right: 25px; }
    .rs-carousel ul li:first-child {
      margin-left: 75px; }
    .rs-carousel ul li .panel-item a {
      position: relative;
      display: inline-block;
      text-decoration: none; }
      .rs-carousel ul li .panel-item a span.panel-name {
        position: absolute;
        display: inline-block;
        padding: 10px;
        padding-right: 0;
        font-size: 1.1em;
        color: #fff;
        background-color: #7a9945;
        width: 138px;
        bottom: 3px;
        left: 0;
        margin: 0; }
        .rs-carousel ul li .panel-item a span.panel-name:hover {
          background-color: #1faac0; }
        .rs-carousel ul li .panel-item a span.panel-name.active {
          background-color: #1faac0; }
        .rs-carousel ul li .panel-item a span.panel-name.hover {
          background-color: #1faac0; }
.rs-carousel .rs-carousel-action-prev {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 20px;
  background-image: url("../images/panels/panelsSprites.png");
  background-position: -5px -63px;
  width: 38px;
  height: 100px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 99; }
.rs-carousel .rs-carousel-action-next {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 20px;
  background-image: url("../images/panels/panelsSprites.png");
  background-position: -54px -63px;
  width: 38px;
  height: 100px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 99; }
.rs-carousel .rs-carousel-action-active {
  opacity: 1; }

.panels-display {
  position: relative;
  width: 100%;
  background-color: #303030; }
  .panels-display .panels-photo {
    padding: 0;
    margin: 0;
    float: left;
    width: 65.763889%;
    overflow: hidden; }
    .panels-display .panels-photo #container {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      position: relative; }
  .panels-display .panel-description {
    float: left;
    width: 30.902778%;
    background-color: #76777b;
    color: #fff;
    overflow: auto; }
    .panels-display .panel-description a:hover {
      background-color: #1faac0; }
    .panels-display .panel-description h3 {
      position: relative;
      font-weight: normal;
      font-size: 36px;
      background-color: #4d4e53;
      padding: 15px 20px;
      margin-top: 0; }
      .panels-display .panel-description h3.pathway {
        color: #919194; }
      .panels-display .panel-description h3 .secuence {
        display: inline-block;
        font-size: 30px;
        margin-top: 10px;
        color: #fff; }
        .panels-display .panel-description h3 .secuence img {
          vertical-align: middle; }
      .panels-display .panel-description h3 a {
        font-size: 24px; }
    .panels-display .panel-description h4 {
      font-weight: normal;
      font-size: 24px;
      padding: 20px;
      padding-top: 10px;
      line-height: 1.2em;
      padding-bottom: 0; }
    .panels-display .panel-description p {
      font-weight: normal;
      font-size: 18px;
      padding: 20px;
      line-height: 1.2em; }
      .panels-display .panel-description p a {
        display: inline-block;
        padding: 4px;
        background-color: #7a9945;
        color: #fff;
        text-decoration: none; }
    .panels-display .panel-description h5 {
      font-weight: normal;
      font-size: 18px;
      padding: 0 20px 20px 20px;
      clear: both;
      float: left;
      width: 35px;
      display: inline-block;
      margin-top: 0;
      padding-top: 6px; }
    .panels-display .panel-description ul {
      float: left;
      list-style-type: none;
      margin-left: 5px; }
      .panels-display .panel-description ul li {
        float: left;
        margin-right: 10px; }
        .panels-display .panel-description ul li a {
          display: inline-block;
          padding: 6px 8px;
          background-color: #7a9945;
          color: #fff;
          text-decoration: none; }
  .panels-display nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.3333333%;
    background-color: #303030; }
    .panels-display nav #panel-tools {
      list-style-type: none;
      margin-left: 1px;
      margin-right: 10px; }
      .panels-display nav #panel-tools li {
        float: left;
        margin-left: 1px;
        height: 40px;
        margin-bottom: 1px; }
        .panels-display nav #panel-tools li:first-child, .panels-display nav #panel-tools li.display-tools {
          margin-top: 33px; }
        .panels-display nav #panel-tools li a {
          display: inline-block;
          width: 39px;
          height: 40px;
          text-indent: -9999px; }
        .panels-display nav #panel-tools li a.original {
          background: url("../images/panels/panel-nav/original.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li a.original:hover {
          background: url("../images/panels/panel-nav/original-active.png") 0 0; }
        .panels-display nav #panel-tools li a.original.active {
          background: url("../images/panels/panel-nav/original-active.png") 0 0; }
        .panels-display nav #panel-tools li a.map {
          background: url("../images/panels/panel-nav/map.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li a.map:hover {
          background: url("../images/panels/panel-nav/map-active.png") 0 0; }
        .panels-display nav #panel-tools li a.map.active {
          background: url("../images/panels/panel-nav/map-active.png") 0 0; }
        .panels-display nav #panel-tools li a.pathway {
          background: url("../images/panels/panel-nav/pathway.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li a.pathway:hover {
          background: url("../images/panels/panel-nav/pathway-active.png") 0 0; }
        .panels-display nav #panel-tools li a.pathway.active {
          background: url("../images/panels/panel-nav/pathway-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.go-home {
          background: url("../images/panels/panel-nav/go-home.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li.display-tools a.go-home:hover {
          background: url("../images/panels/panel-nav/go-home-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.go-home.active {
          background: url("../images/panels/panel-nav/go-home-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.zoom-in {
          background: url("../images/panels/panel-nav/zoom-in.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li.display-tools a.zoom-in:hover {
          background: url("../images/panels/panel-nav/zoom-in-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.zoom-in.active {
          background: url("../images/panels/panel-nav/zoom-in-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.zoom-out {
          background: url("../images/panels/panel-nav/zoom-out.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li.display-tools a.zoom-out:hover {
          background: url("../images/panels/panel-nav/zoom-out-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.zoom-out.active {
          background: url("../images/panels/panel-nav/zoom-out-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.toggle-full {
          background: url("../images/panels/panel-nav/toggle-full.png") 0 0;
          margin-top: -4px; }
        .panels-display nav #panel-tools li.display-tools a.toggle-full:hover {
          background: url("../images/panels/panel-nav/toggle-full-active.png") 0 0; }
        .panels-display nav #panel-tools li.display-tools a.toggle-full.active {
          background: url("../images/panels/panel-nav/toggle-full-active.png") 0 0; }

/*
.search-panels {
	background-position: 0 0;
	width: 28px;
	height: 26px;
}

.carousel-left-control {
	background-position: -5px -63px;
	width: 38px;
	height: 100px;
}

.carousel-right-control.png {
	background-position: -54px -63px;
	width: 38px;
	height: 100px;
}*/
@media only screen and (max-width: 62.5em) {
  #nav {
    width: 100%;
    position: static;
    margin: 0; } }
@media only screen and (max-width: 1270px) {
  .panels-display .panels-photo {
    width: 65%; }
  .panels-display .panel-description {
    width: 31%;
    margin-right: 20px; }
  .panels-display nav {
    width: 40px; } }
@media only screen and (max-width: 1021px) {
  .panels-display .panels-photo {
    width: 60%; }
  .panels-display .panel-description {
    width: 34%;
    margin-right: 20px; }
  .panels-display nav {
    width: 40px; } }
@media only screen and (max-width: 767px) {
  .carousel-left-limit {
    display: none; }

  .carousel-right-limit {
    display: none; }

  .rs-carousel ul li {
    margin-right: 25px; }
    .rs-carousel ul li:first-child {
      margin-left: 0; }
  .rs-carousel .rs-carousel-action-prev {
    display: none; }
  .rs-carousel .rs-carousel-action-next {
    display: none; }
  .rs-carousel .rs-carousel-action-active {
    opacity: 1;
    display: none; } }
@media only screen and (max-width: 717px) {
  .panels-display .panels-photo {
    width: 57%; }
  .panels-display .panel-description {
    width: 36%;
    margin-right: 20px; }
  .panels-display nav {
    width: 40px; } }
@media only screen and (max-width: 40em) {
  .page.panels {
    /*
     *
     */ }
    .page.panels header {
      /* first level */
      /* second level */ }
      .page.panels header #nav {
        position: relative;
        top: auto;
        left: auto; }
      .page.panels header #nav > a {
        width: 45px;
        /* 50 */
        height: 45px;
        /* 50 */
        text-align: left;
        text-indent: -9999px;
        background-color: #37c1d6;
        position: relative; }
      .page.panels header #nav > a:before,
      .page.panels header #nav > a:after {
        position: absolute;
        border: 2px solid white;
        top: 35%;
        left: 25%;
        right: 25%;
        content: ''; }
      .page.panels header #nav > a:after {
        top: 60%; }
      .page.panels header #nav:not(:target) > a:first-of-type,
      .page.panels header #nav:target > a:last-of-type {
        display: block; }
      .page.panels header #nav > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0; }
      .page.panels header #nav:target > ul {
        display: block; }
      .page.panels header #nav > ul > li {
        width: 100%;
        float: none; }
      .page.panels header #nav > ul > li > a {
        height: auto;
        text-align: left;
        padding: 0 0.833em;
        /* 20 (24) */ }
      .page.panels header #nav > ul > li:not(:last-child) > a {
        border-right: none;
        border-bottom: 1px solid #cc470d; }
      .page.panels header #nav li ul {
        position: static;
        padding: 1.25em;
        /* 20 */
        padding-top: 0; }

  .panels-display {
    height: 400px !important; }
    .panels-display .panels-photo {
      width: 90%;
      height: 400px !important;
      margin-right: 10px; }
    .panels-display .panel-description {
      width: auto;
      height: auto !important;
      overflow: hidden;
      height: 100%;
      margin-right: 0;
      clear: both; }
    .panels-display nav {
      position: absolute;
      top: 0;
      right: 0;
      height: 400px !important;
      z-index: 99999; } }
