#container {
  background-color: black;
  border: 1px solid black;
  color: white;   /* for error messages, etc. */
  overflow: hidden;
  position: relative;
  width: 940px;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

#content {
  width: 960px;
  margin: 20px 0 0 0;
  padding: 0 10px 40px 10px;
}

div.view-panel-selector {
  z-index: 0;
}
