


$gray: #4d4e53;
$grayLight: #a6a6a8;
$grayLighter: #727375;
$blue: #1faac0;
$blueLight: #37c1d6;
$white: #fff;
$greayDark: #303030;
$green: #7a9945;

$pathSprites: '../images/panels/panelsSprites.png';
$pathPanelIcons: '../images/panels/panel-nav/';
