/* Background image */
/*------------------------------*/

.hero {
	width: 100%;
	height: 520px;
	background: #2b2d2f url("../images/panel.jpg") no-repeat scroll top left;
	background-position: center 0;

	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	.home-content {
		float: left;
		padding-left: 7%;
		padding-top: 73px;
		/*width: 62.3611111% minus padding 16.4583333%;*/
		//width: 43%;
		color: $textColorLight;

		h2 { font-size: 2.6em; }

		p {
			width: 80%;
			background-color: $textColorDark;
			opacity: .91;
			font-size: 1.3em;
			padding: 30px;
			margin: 0;
			line-height: 1.2em; }
		ul {
			margin: 0;
			padding: 0;
			margin-top: 10px;
			li {
				display: block;
				list-style-type:none; 
				float: left; }
		}
		
	}
	aside {
		float: right;
		width: 37.6388889%;
		opacity: .96;
		background-color: #3d3c38;
		height: 540px;
		a {
			display: block;
			margin-left: 33px; }
	}
}
.btn-pathway {
	font-size: 2em;
	background-color: #83b63d;
	padding: 10px;
	color: $textColorLight;
}
.btn-panels {
	font-size: 1.6875em;
	background-color: #7ca43f;
	padding: 10px;
	margin-left: 3px;
	color: $textColorLight; }
.btn-pathway:hover,
.btn-panels:hover {
	background-color: $linkHover;
	color: $textColorLight; }
.book-cover {
	margin-top: 22px;
}

a.signale {
	display: block;
	font-size: 1.3em;
	opacity: .6;
	margin-left: 0;
	margin-bottom: 15px;
	margin-top: 20px;
	color: $textColorLight;

}

/* Featured content */
/*------------------------------*/
.featured-content {
	padding: 30px 0;
	p, li { font-size: 1.125em; }
	h3 {
		background: #595959;
		color: $textColorLight;
		width: 70%;
		padding: 5px 10px ;
		font-size: 1.625em;
		margin-bottom: 1em; }
	.media {
		h3 { width: 30%; }
		h4 { 
			font-size: 1.625em;
			color: #554e5a; // TODO: Add variable?
			a { 
				font-size: 75%;
				margin-left: 10px; }
		}
	}
	img { border: 1px solid #c8c8c8; }
}
.featured-content-first {
	background: url("../images/hr.png") no-repeat bottom;
	padding-bottom: 0;
}

/* Media */
/*------------------------------*/
/*.media { background: url("../images/hr-vert.png") no-repeat right top; }*/
.video-player { margin-bottom: 30px; }

/* Warburg Institute */
/*------------------------------*/
.warburg-institute {
	h3 { margin-bottom: .5em; }
	h4 { 
		text-transform: uppercase;
		font-size: 1.5em; }
	img { margin-bottom: 15px; }
}

/* Companion Volumen */
/*------------------------------*/
a.volumen {  display: inline-block;
    		font-size: 1.3em;
		    line-height: 1.2em;
		    padding-bottom: 10px;
		    width: 75%;
}

/* Warburg Institute */
/*------------------------------*/
.warburg-institute {
	h3 { margin-bottom: .5em; }
	h4 { 
		text-transform: uppercase;
		font-size: 1.5em; }
	img { margin-bottom: 15px; }
}

/* Pathways */
/*------------------------------*/
.pathway {
	content: "";
	display: table;
	clear: both;
	padding: 15px 0;
	background: url("../images/pathway-bg.png") no-repeat bottom;
	width: 100%;
	img { 
		float: left;
		margin-right: 10px; }
	a { font-size: 1.4em; }
}

/* Other Atlas */
/*------------------------------*/
.other-atlas {
	padding: 15px 0 0;
	img { margin-bottom: 10px; }
	p { margin-left: 15px; }
}

/* Book Resources */
/*------------------------------*/
.book-resources {
	list-style: none;
	margin: 0;
	li { 
		padding-left: 15px;
		background: url("../images/icon-arrow-green.png") no-repeat left top;
		margin-bottom: 1em; }
}