/* Institution branding */
/*------------------------------*/
.institution-brand {
	background: $darkGray;
	padding: 12px 0;
	position: relative;
	a { color: #fefefe; }
}

/* Search Box */

a.search-panels {
  z-index: 99999;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 0;

  span:after {
    border-top-color: none;
    border: none;
  }
  
  &:hover {
    background-color: transparent;
    opacity: .5;
  }

	.search-panels-icon {
    background: url('../images/panels/search-icon.png') no-repeat 0 0;
    //background-image: url($pathSprites);
		//background-position: 0 0;
		width: 28px;
		height: 26px;
		display: inline-block;
		margin-top: 9px;
		margin-right: 5px;
	}
	
	.search-panels-close-icon {
    background: url('../images/panels/hide-search-icon.png') no-repeat 0 0;
    //background-image: url($pathSprites);
		//background-position: 0 0;
		width: 28px;
		height: 26px;
		display: inline-block;
		margin-top: 9px;
		margin-right: 5px;
	}
}
										
#search-panels {
	z-index: 99999;
	display: block;
	position: absolute;
	top: 0;
	right: 45px;
	display: none;
	
	input[type="text"] {
		margin-top: 10px;
		border-radius: 0;
		height: 16px;
		background-color: $grayLighter;
		border: 1px solid $grayLight;
		color: $white;
		width: 140px;
		margin-left: 20px;
	}
	
	input[type="submit"] {
		color: $white;
		background-color: $blue;
		font-family: 'Abel', sans-serif;
		font-weight: normal;
		border-radius: 0;
		height: 26px;
		border: none;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
		
/* Header on sub pages */
/*------------------------------*/
header {
	background: url("../images/panel.jpg") no-repeat scroll top left;
	background-position: center 14px;
	height: 165px;
	h2 { margin-top: 90px; }
}

/* Main content on sub pages */
/*------------------------------*/
.main-content { padding: 50px 0; }

/* Sidebar on sub pages */
/*------------------------------*/
.sidebar {
	h3 {
	background: #595959;
	color: $textColorLight;
	width: 70%;
	padding: 5px 10px ;
	font-size: 1.625em;
	margin-bottom: 1em;
	margin-top: 0; }
	p { font-size: 1em; }
}

/* Footer */
/*------------------------------*/
footer {
	text-align: center;
	color: $darkGray;
	.container { 
		background: url("../images/hr.png") no-repeat top;
		padding: 30px 0; }
	ul.footer-nav {
		list-style: none;
		margin: 0 0 1em;
		li { 
			display: inline-block;
			font-size: 1.1875em;
			.divider { padding: 0 5px; }
		}
		li.active { 
			color: $linkPrimary;
			a { color: $linkPrimary; }
			.divider { color: $darkGray; }
		}
	}
	p { font-size: 1.125em; }
	a { color: $darkGray; }
}
.institution-logos,
.social-icons {
	margin: 20px 0;
	img { 
		padding: 0 5px;
		margin-bottom: 5px; }
}
.signale-logo { margin-top: .5em; }