/* Warburg portrait */
/*------------------------------*/
.warburg-portrait {
	width: 293px;
	margin-bottom: 60px;
	p.caption {
		width: 263px;
		height: 40px;
		margin-top: -65px;
		z-index: 100;
		position: relative;
		padding: 20px 10px 5px 20px;
	}
}

/* Image caption */
/*------------------------------*/
p.caption {
	background: #404040;
	opacity: .87;
	color: $textColorLight;
	width: 100%;
	padding: 5px 10px ;
	font-size: 1.625em; }
	
	

/* Search pages */
/*------------------------------*/	

.page-search {

  label {
    font-size: 1.5em;
  }
  
  .form-text {
  
    -o-border-radius: 0; 
    -moz-border-radius: 0; 
    -webkit-border-radius: 0;
    border-radius: 0; 
    
  }

  .form-submit {

    background-color: #83B63D;
    color: white;
    font-size: 1em;
    padding: 5px;
    font-family: 'Abel', sans-serif;
  	font-weight: normal;
  	border: none;
  	margin-top: -10px;
  	
  	&:hover {
  	  
  	  background-color: #005580;
  	}

  }

  .content {

    h2 {
      background: none repeat scroll 0 0 #595959;
      color: white;
      font-size: 1.625em;
      padding: 8px 13px;
    }
  }
}

/* Other buttons, such as book purchase*/
/*------------------------------*/  

.btn-standard {
  font-size: 1.1em;
  background-color: #83b63d;
  padding: 10px;
  color: $textColorLight;
  display: inline-block;
  margin-bottom: 5px;
}
.btn-standard:hover {
  background-color: $linkHover;
  color: $textColorLight; }