.main-navigation {
	padding-top: 10px;
}
.navbar {
	padding: 30px 0 15px 0;
	margin-bottom: 0;
	.container { width: 1170px; } // bootstrap override to set fixed width
	.brand {
		float: none;
		font-size: 3.375em;
		color: #403e3c;
	}
	.subtitle { 
		color: #596d75;
		font-size: 1em; }
	// .brand:hover { color: $turquoiseHover; }
	.nav {
		float: right;
		li {
			a {
				text-shadow: 0 0 0;
				color: $darkGray; 
				font-size: 1.25em;
				padding: 5px 10px;
				border-left: 1px solid #cad6b5; }
			// a:hover {
			// 	background: url("../img/nav-divider.png") no-repeat; }
		}
		li:first-child {
			a { border: none; }
		}
		li.active {
			a, 
			a:hover {
				color: $linkPrimary;
				border-bottom: 4px solid $linkPrimary;
				background-color: inherit;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none; }
		}
	}
}