@media (min-width: 1372px) {
	.hero {
		.home-content { padding-left: 10%; }
	}
}

@media (max-width: 1292px) {
	.hero {
		.home-content { 
			h2 { font-size: 2em; }
		}
	}
}

@media (max-width: 1169px) {
	.btn-pathway { font-size: 1.8em; }
}

@media (max-width: 1147px) {
	.hero {
		.home-content { 
			padding-top: 50px;
			p { width: 550px; }
		}
	}
	.btn-pathway { font-size: 1.6em; }
	.btn-panels { font-size: 1.4em; }
}

@media screen and (max-width: 983px) {
	.hero{
		.home-content { 
			padding-left: 10%;
			h2 {
				width: 430px;
				// font-size: 2.7em;
				padding: 20px;
				margin: 0; }
			p {
				width: 450px;
				// font-size: 1.3em;
				padding: 20px;
				margin: 0; }
			ul {
				margin-top: 7px; }
		}
	}
	.btn-pathway {
		// font-size: 1.7em;
		padding: 8px;
		padding-left: 40px; }
	.btn-panels {
		// font-size: 1.64em;
		padding: 5px;
		margin-left: 3px;
		padding-left: 30px; }	
	.book-cover {
		margin-top: 22px;
		max-width: 100%;
	}
}

@media screen and (max-width: 866px) {
	.hero {
		.home-content {
			h2 {
				width: 320px;
				// font-size: 2.6em;
				padding: 10px;
				margin: 0; }
			p {
				width: 350px;
			}
		}
	}
	.btn-panels {
		margin-left: 0;
		margin-top: 5px;
	}
}

@media screen and (max-width: 702px) {
	
	.hero {
		width: 100%;
		.home-content {
			padding-left: 5%;
			width: 95%;
			opacity: 1;
			h2 {
				width: 75%;
			}
			p {
				width: 85%;
			}
			ul {
				margin-top: 7px;
			}
		}
		aside {
			float: left;
			width: 100%;
			height: auto;
			margin-top: 48px;
			opacity: 1;
			a {
				display: inline;
				margin-left: 33px;
			}
		}
	}
	.btn-panels {
		margin-left: 3px;
	}	
	.book-cover {
		margin-top: 22px;
		width: 25%;
		float: left;
		padding-left: 5%;
		padding-bottom: 20px;
	}
	
	p {
		a.cup {
			display: block;
		 	font-size: 1.3em;
			opacity: .6;
			margin-left: 0;
			margin-bottom: 15px;
			margin-top: 20px;
		}
		a.signale {
			display: inline-block;
			font-size: 1.3em;
			opacity: .6;
			margin-left:6px;
		}
	}
	

}