//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { margin-left: -15px; }
		.logo {
			h1 {
		  	  	a {
		  	  		width: 300px;
		  		  	height: 70px;
		  		  	background: url('../images/mnemosyne-logo-300.png') no-repeat 0 0;
		  		  	&:hover {
		  		    	background: url('../images/mnemosyne-phonetics-logo-300.png') no-repeat 0 0; }
		  		}
		  	}
	  	}
	}
	.featured-content-first { clear: both; }
	#search-panels {
		background: $grayLight;
		padding-right: 20px;
	}
}

