//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
	.navbar {
		.container { width: 940px; }
		.subtitle { font-size: 1em; }
	}
	.hero {
		.home-content { padding-left: 3%; }
	}
	.btn-pathway { font-size: 1.8em; }
}
