//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		margin-top: 0;
		.brand { margin-left: -15px; }
		.logo {
			h1 {
		  	  	a {
		  	  		width: 300px;
		  		  	height: 70px;
		  		  	background: url('../images/mnemosyne-logo-300.png') no-repeat 0 0;
		  		  	&:hover {
		  		    	background: url('../images/mnemosyne-phonetics-logo-300.png') no-repeat 0 0; }
		  		}
		  	}
	  	}
	  	ul.menu { margin-left: 0; }
	  	.nav {
	  		li {
	  			a {	
	  			border-left: 0;
	  			padding: 2px 6px;
		  		font-size: 1em; }
	  		}
	  		li.active-trail,
			li.active {
				a, 
				a:hover { border-bottom: 0; }
			}
	  	}
	}
	.featured-content-first { clear: both; }
	#search-panels {
		background: $grayLight;
		padding-right: 20px;
	}
	.institution-links { width: 90%; }
}

