//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
	.navbar {
		.container { width: 940px; }
		.subtitle { font-size: 1em; }
		.logo {
			h1 {
				a { width: 125%; }
			}
		}
	}
}
