// Colors
// -------------------------

$darkGray: #4d4e53;


// $primaryColor: #210d29; 
// $headerColor: #3a114a; 
// $highlightColor: #e6b91c;
// $highlightColorHover: #c29700;

$textColorDark: #486570;
$textColorLight: white;

// $lightGray: #bebebe;
// $mediumGray: #a2a1a1;

$linkPrimary: #a7c03a; // TODO: may need to rename this if green is not actually the link color


// Fonts
// -------------------------
$baseFontFamily:        Abel;        @import
url(http://fonts.googleapis.com/css?family=Abel);

// -------------------
// Boostrap overrides
// -------------------

// Wells
// -------------------------
// $wellBackground: $primaryColor;
