// Colors
// -------------------------

$darkGray: #4d4e53;

$textColorDark: #486570;
$textColorLight: white;

$grayLight: #a6a6a8;
$grayLighter: #727375;

$white: #fff;

$linkPrimary: #a7c03a;
$linkHover: #005580;

// Fonts
// -------------------------
$baseFontFamily:        Abel;        @import
url(//fonts.googleapis.com/css?family=Abel);

